.slider {
    width: 750rpx;
    position: relative;
    overflow: hidden;
    height: 500rpx;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image {
    width: 750rpx;
    height: 500rpx;
  }
  
  .itemWrap {
    width: 750rpx;
    height: 500rpx;
  }
  
  .button {
    margin-top: 20rpx;
    width: 340rpx;
    height: 80rpx;
  }
  