name: kraken_integration_tests
description: Integration tests for kraken.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: '>=2.12.0 <3.0.0'

dependency_overrides:
  kraken:
    path: ../kraken

dependencies:
  ffi: ^1.0.0
  colorize: ^3.0.0
  flutter:
    sdk: flutter
  kraken: 0.8.0-dev.1
  image: ^3.0.2
  kraken_video_player: ^2.0.0-dev.0
  kraken_websocket: ^1.0.0
  kraken_webview: ^2.0.0-dev.0
  waterfall_flow: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.16.8
  ansicolor: ^2.0.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  assets:
    - assets/

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  fonts:
    - family: AlibabaPuHuiTi
      fonts:
        - asset: fonts/Alibaba-PuHuiTi-Regular.ttf
        - asset: fonts/Alibaba-PuHuiTi-Light.ttf
          weight: 300
        - asset: fonts/Alibaba-PuHuiTi-Medium.ttf
          weight: 500
        - asset: fonts/Alibaba-PuHuiTi-Bold.ttf
          weight: 700
        - asset: fonts/Alibaba-PuHuiTi-Heavy.ttf
          weight: 900
    - family: AlibabaSans
      fonts:
        - asset: fonts/AlibabaSans-Regular.otf
        - asset: fonts/AlibabaSans-Italic.otf
          style: italic
        - asset: fonts/AlibabaSans-Light.otf
          weight: 300
        - asset: fonts/AlibabaSans-LightItalic.otf
          weight: 300
          style: italic
        - asset: fonts/AlibabaSans-Medium.otf
          weight: 500
        - asset: fonts/AlibabaSans-MediumItalic.otf
          weight: 500
          style: italic
        - asset: fonts/AlibabaSans-Bold.otf
          weight: 700
        - asset: fonts/AlibabaSans-BoldItalic.otf
          weight: 700
          style: italic
        - asset: fonts/AlibabaSans-Heavy.otf
          weight: 900
        - asset: fonts/AlibabaSans-HeavyItalic.otf
          weight: 900
          style: italic
    - family: AlibabaSans-Black
      fonts:
        - asset: fonts/AlibabaSans-Black.otf
