.title {
  margin-top: 16rpx;
  font-size: 28rpx;
  line-height: 40rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 80rpx;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-all;
  font-weight: 600;
}

.card {
  width: 326rpx;
  margin-bottom: 28rpx;
  margin-left: 20rpx;
}

.floatLayout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.flexcc{
  align-items: center;
  justify-content: center;
}

.flexbetween{
  flex-direction: row;
  justify-content: space-between;
}

.corner {
  margin: 16rpx;
}
