name: Sample Page Benchmark

on: [workflow_dispatch, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  benchmark:
    runs-on: [self-hosted, benchmark, flutter_2.5.3]
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2
    - name: Run Benchmark
      run: npm run benchmark
      id: benchmark
