name: Sample Page Benchmark

on: [workflow_dispatch]

env:
  nodeVersion: "16"
  cmakeVersion: "3.22.x"
  flutterVersion: "2.5.3"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  benchmark:
    runs-on: [self-hosted, benchmark, flutter_2.5.3]
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: ${{ env.flutterVersion }}
    - run: flutter doctor -v
    - name: Run Benchmark
      run: npm run benchmark
      id: benchmark
