name: Integration Test

on: [workflow_dispatch, pull_request]

env:
  nodeVersion: "16"
  cmakeVersion: "3.22.x"
  flutterVersion: "2.8.1"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  integration_test:
    runs-on: [self-hosted]
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: ${{ env.flutterVersion }}
    - name: Run Test
      run: npm test
      id: test
      continue-on-error: true
    - name: Upload Snapshots
      run: node scripts/upload_snapshots.js
      continue-on-error: true
    - name: Check on failures
      if: steps.test.outcome != 'success'
      run: exit 1

